<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    {% include 'main/header_css_javascript.html' %}
    {% block header_extra_css_js %}
    {% endblock header_extra_css_js %}
  </head>
  <body>

    {% block header %}
        {% include 'main/header.html' %}
    {% endblock header %}

    {% block content %}
    
    {% endblock content %}

    {% block footer %}
        {% include 'main/footer.html' %}
    {% endblock footer %}


    {% include 'main/footer_css_javascript.html' %}
    {% block footer_extra_css_js %}
    {% endblock footer_extra_css_js %}

  </body>
</html>