<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Table filter</title>
    {% include 'main/header_css_javascript.html' %}
    {% block header_extra_css_js %}
    {% endblock header_extra_css_js %}
</head>
<body class="text-bg-secondary">

    {% block header %}
        {% include 'main/header.html' %}
    {% endblock header %}
    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>


    {% block footer %}
        {% include 'main/footer.html' %}
    {% endblock footer %}


    {% include 'main/footer_css_javascript.html' %}
    {% block footer_extra_css_js %}
    {% endblock footer_extra_css_js %}

</body>
</html>